<div class="row">
    <h1>Hard & Soft skills</h1>
    
      <button type="button" class="btn btn-dark" routerLink="/nuevahys" *ngIf="isLogged">
        Agregar HyS
      </button>
    <div>
      <div>
      <table id="circulo">
        <tr *ngFor="let Hys of hard">
        <td  *ngIf="isLogged"><button class="btn btn-dark" routerLink="/edithys/{{Hys.id}}">
          <i class="bi bi-arrow-down-right-square"></i>EDITAR</button></td>
    <td *ngIf="isLogged"><button class="btn btn-danger" (click)="delete(Hys.id)">
          <i class="bi bi-arrow-down-right-square"></i>BORRAR</button></td> 

          <circle-progress 
        [percent]="Hys.porcentaje"
        [radius]="100"
        [showUnits]="false"
        [title]="Hys.nombreH"
        [titleColor]="'green'"
        [titleFontSize]="'3em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
        [lazy]="true"
      ></circle-progress>
        </tr> </table>
      </div>
      
    