<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Perfil.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h4>{{persona.nombre}} {{persona.apellido}}</h4>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Este es mi primer portafolio, en el cual paso a comentar. Hace un año conoci la programacion con el programa "Argentina Programa", al principio empece como hobbie pero al pasar el tiempo me di cuenta que me gusta, además que esta relacionado con temas de matematicas e ingles! justamente dos temas que me han gustado a lo largo de mis 26 años. Sin mas les dejo un poco de mis conocimientos, se que es el comienzo pero me gustaria aprender mucho mas y llegar a realizar mi vida pronto en este ambito.
            </p> <div><b>Email: Edanielrivero@hotmail.com
                Tel:1156036283</b> </div> 
            
        </span>
    </div>
</div>

